<section class="header clearfix">
  <div class="fl">
    <span class="cityname">重庆</span>
  </div>
  <div class="fr header-right">
    <span class="filter">筛选</span>
    <img  class="filterimg" src="img/filter.png" alt="筛选">
  </div>
</section>
<section class="main">
  {{content/content-main}}
</section>
<section class="footer">
  <div class="footer-item">
    <img class="footerone" src="img/footerone.png" alt="">
    <div class="footername">
      <span>给他介绍</span>
    </div>
  </div>
  <div class="footer-item footer-item-heart">
    <div class="myheart">
      <img class="heartimg" src="img/heart.png" alt="">
    </div>
    <div class="footername">
      <span>求介绍</span>
    </div>
  </div>
  <div class="footer-item">
    <img class="footerth" src="img/footerth.png" alt="">
    <div class="footername">
        <span>个人中心</span>
    </div>
  </div>
</section>
